<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <handlers>
            <add name="PHP" path="*.php" verb="*" modules="FastCgiModule" scriptProcessor="C:\php\php-cgi.exe" resourceType="File" />
        </handlers>
        <defaultDocument>
            <files>
                <add value="login.php" />
            </files>
        </defaultDocument>
        <httpErrors errorMode="Custom" existingResponse="PassThrough">
            <remove statusCode="404" subStatusCode="-1" />
            <error statusCode="404" path="/404.html" responseMode="ExecuteURL" />
        </httpErrors>
        <asp scriptErrorSentToBrowser="false" />
        <security>
            <requestFiltering>
                <!-- อนุญาต POST body สูงสุด 200 MB (สำหรับ base64 drawing + PDF data) -->
                <requestLimits maxAllowedContentLength="609715200" />
            </requestFiltering>
        </security>
        <rewrite>
            <rules>
                <rule name="Hide all except login.php and real files" stopProcessing="true">
                    <match url="^(?!login\.php$)(.*)$" />
                    <conditions>
                        <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
                        <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
                    </conditions>
                    <action type="Rewrite" url="login.php" />
                </rule>
            </rules>
        </rewrite>
    </system.webServer>
    <system.web>
        <customErrors mode="On" defaultRedirect="/500.html" />
    </system.web>
</configuration>
